# Active le module de réécriture d'URL
RewriteEngine On

# Définit la base du répertoire pour les règles de réécriture
RewriteBase /cabinetdupont/public/

# Si le fichier ou le dossier n'existe pas physiquement
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirige toutes les requêtes vers index.php et conserve l'URL en paramètre
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]